<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Aviso Legal</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>
  <h1>Aviso Legal</h1>
</header>
<main>
  <section>
    <h2>Términos y Condiciones</h2>
    <p>Este es el contenido del aviso legal. Aquí puedes incluir toda la información legal relevante sobre tu sitio web.</p>
    <p>Es importante que leas estos términos y condiciones antes de utilizar el sitio.</p>
  </section>
  <section>
    <h2>Política de Privacidad</h2>
    <p>Incluye aquí la información sobre cómo se manejan los datos personales de los usuarios.</p>
  </section>
  <section>
    <h2>Derechos de Autor</h2>
    <p>La información, contenido y materiales en este sitio web son propiedad de JADE y están protegidos por las leyes de derechos de autor.</p>
  </section>
</main>
<footer>
  <p>&copy; 2024 JADE. Todos los derechos reservados.</p>
  <div class="legal-notice">
  <a href="../index.html">Volver al Inicio</a>
  </div>
</footer>
</body>
</html>
